body {
  font-family: 'Slabo 27px', sans-serif;
  padding-top:50px;
  font-size: 16pt;
}
.content{
  background-color:  #999999;

}
.about {
  font-family: 'Roboto', sans-serif;
  color: white;
   padding-top: 40px;
  padding-left: 100px;
  padding-right: 100px;
 }
.portfolio {
  color: #030303;
  padding-top: 40px;
  padding-left: 40px;
  padding-right: 40px;
}
.imgLabel{
  font-size: 14pt;
  margin:0px 10px 10px 10px;
  font-family: 'Roboto', sans-serif;
  color: black;
}
.imgLabel a:hover{
  text-decoration:none !important;
  color: blue;
}

.thumb {
    border: 1px solid #ddd; /* Gray border */
    border-radius: 4px;  /* Rounded border */
    padding: 5px; /* Some padding */
    height: 180px;
    width: 100%;
}

#contact{
  color: white;
  text-align: center;
}
#contact a:hover{
  color: white;
}



